.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.movie-card h2 {
    font-size: 1.2em;
    margin: 10px;
    color: #333;
}

.movie-card p {
    font-size: 1em;
    margin: 10px;
    color: #777;
}
