.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    z-index: 1000;
}

.modal-content {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0 30px 50px 30px;
    max-width: 750px;
    width: 100%;
    position: relative;
    max-height: 85%;
    overflow-y: auto;
    animation: slideIn 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.modal-header button {
    background: transparent;
    border: none;
    font-size: 2.5em;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-header button:hover {
    transform: rotate(90deg);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    border-radius: 2vh;
    background-color: white;
}

.movie-details img {
    width: 100%;
    border-radius: 10px;
}

.movie-details h2 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

.movie-details p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
