.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.searchbar input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    max-width: 70%;
    margin-top: 20px;
}

.searchbar button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
