.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.movie-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    backdrop-filter: blur(10px);
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.movie-card h2 {
    font-size: 1.2em;
    margin: 10px;
    color: #333;
}

.movie-card p {
    font-size: 1em;
    margin: 10px;
    color: #777;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
}

.pagination-controls label {
    margin-right: 10px;
}

.pagination-controls input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease, color 0.3s ease;
}

.pagination-controls input:hover {
    background: rgba(51, 51, 51, 0.8);
    color: #f7f7f7;
}

.movie-details {
    max-width: 600px;
    margin: auto;
}
